.avatar {
  border: none;
  border-radius: 50%;
  box-shadow: 2px 5px 0 rgba(0,0,0,.1);
  height: 2em;
  width: 2em;
  margin-right: 2vmin;

  background-clip: padding-box;
  background-color: transparent;
  background-position: 50%;
  background-size: 100%;
}
