.membercard {
  background: #2a2834;
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 2vmin;
  box-shadow: 0 0 10px 5px rgba(0,0,0,.3);
  margin: 2vmin;
  padding: 2vmin;
  box-sizing: border-box;
}

.membercard-header {

}

.membercard-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  margin: .5vmin;
}

.membercard-info {
  font-size: .8em;
}

.membercard-description {
  white-space: pre-wrap;
}

.membercard-section {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: italic;
  margin: 1vh;
}

.membercard-colorbubble {
  display: inline;
  margin-right: 1vmin;
  padding: 0;
  width: 1.4em;
  height: 1.4em;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 8px 2px rgba(0,0,0,.4) inset;
}
