.membercard {
  background: #2a2834;
  border: 2px rgba(0,0,0,.2) solid;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0,0,0,.6);
  padding: 10px;
  margin: 20px;
  width: 100%;
}

.membercard-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
