
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.not-found-code {
  margin: 2vmin 0;
  font-size: 5em;
  font-weight: 600;
  letter-spacing: 4vw;
}

.not-found-message-box {
  display: flex;
  align-items: center;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: italic;
  color: #ccc;
}

.not-found-message-box .avatar {
  font-size: 1.5em;
}

.not-found-oops::before {
  content: '\201C';
}

.not-found-oops::after {
  content: '\201D';
}

.not-found-oops {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* Animation CSS */

@keyframes vanish {
  from {opacity: 1;}
  to {opacity: 0;}
}

#oops1{
  position: relative;
  top: 15px;

  animation-name: vanish;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#oops2{
  opacity: 0;
  position: relative;
  bottom: 15px;

  animation-name: vanish;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}
