
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.not-found-code {
  margin: 2vmin 0;
  font-size: 5em;
  font-weight: 600;
  letter-spacing: 4vw;
}

.not-found-message-box {
  display: flex;
  align-items: center;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: italic;
  color: #ccc;
}

.not-found-message-box .avatar {
  font-size: 1.5em;
}

.not-found-oops {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* Animation CSS */

@keyframes vanish {
  from { opacity: 1; display: inline; }
  to { opacity: 0; display: none; transform: translateY(-1em); }
}

@keyframes appear {
  from { opacity: 0; display: none; transform: translateY(1em); }
  to { opacity: 1; display: inline; }
}

#oops1 {
  position: relative;
  top: .5em;

  animation-name: vanish;
  animation-duration: .7s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out; 
}

#oops2 {
  position: relative;
  bottom: .5em;
  opacity: 0;

  animation-name: appear;
  animation-duration: .7s;
  animation-delay: .9s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
